// -------- date navigator

.todo-date {
    margin-bottom: $container-p/2;
    & > * {
        display: inline-block;
    }
}

.todo-date-date {
    font-size: 16px;
    margin: 0 7px;
    text-transform: capitalize;
}

.todo-date-today {
    font-size: 11px;
    padding: 2px 7px;
    border-radius: 3px;
    box-shadow: inset 0 0 5px #999;
    margin-left: 15px;
    vertical-align: top;
    cursor: pointer;
}

.todo-date-prev,
.todo-date-next {
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    box-shadow: inset 0 0 5px #999;
    vertical-align: top;
    cursor: pointer;
}

.todo-date-next {
    background: url(../images/next.svg) 6px 6px no-repeat;
    background-size: 4px;
}

.todo-date-prev {
    background: url(../images/prev.svg) 6px 6px no-repeat;
    background-size: 4px;
}
