
.todo-filter {
    position: relative;
    &:before {
        background: url(../images/search.svg) 0 0 no-repeat;
        background-size: cover;
        display: inline-block;
        width: 12px;
        height: 12px;
        content: '';
        vertical-align: baseline;
        opacity: 0.35;
        margin-right: 10px;
    }
}

.todo-filter-clear {
    // (c) flaticon.com
    background: url(../images/close.svg) 0 0 no-repeat;
    background-size: cover;
    display: none;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    width: 8px;
    height: 8px;
    content: '';
    vertical-align: baseline;
    opacity: 0.35;
    cursor: pointer;
}

.todo-filter-input {
    font-size: 14px;
    padding: 5px 23px 5px 10px;
    border-radius: 2px;
    border: none;
    box-shadow: inset 0 1px 4px #888;

    &:focus + .todo-filter-clear,
    &:valid + .todo-filter-clear { //some css magic
        display: block;
    }
}
