.todo-calendar-week
    .todo-day
        .todo-day-num 1
    .todo-day
        .todo-day-num 2
    .todo-day
        .todo-day-num 3
    .todo-day
        .todo-day-num 4
    .todo-day
        .todo-day-num 5
    .todo-day
        .todo-day-num 6
    .todo-day.todo-day-today
        .todo-day-num 7
.todo-calendar-week
    .todo-day
        .todo-day-num 1
    .todo-day
        .todo-day-num 2
    .todo-day.todo-day-active
        .todo-day-num 3
        .todo-item
            .todo-item-title Митинг на Красной
            .todo-item-with
                span dkchv
                span Петр Иваныч
    .todo-day.todo-day-selected
        .todo-day-num 4
        .todo-form-add
            .todo-form-add-close
            input.todo-form-add-input-title(placeholder="Событие")
            input.todo-form-add-input-date(placeholder="День, месяц, год")
            input.todo-form-add-input-people(placeholder="Имена участников")
            textarea.todo-form-add-input-description(placeholder="Описание")
            button.todo-form-add-button-submit Готово
            button.todo-form-add-button-delete Удалить
    .todo-day
        .todo-day-num 5
    .todo-day
        .todo-day-num 6
    .todo-day.todo-day-today
        .todo-day-num 7
.todo-calendar-week
    .todo-day
        .todo-day-num 1
    .todo-day
        .todo-day-num 2
    .todo-day
        .todo-day-num 3
    .todo-day
        .todo-day-num 4
    .todo-day
        .todo-day-num 5
    .todo-day
        .todo-day-num 6
    .todo-day
        .todo-day-num 7
.todo-calendar-week
    .todo-day
        .todo-day-num 1
    .todo-day
        .todo-day-num 2
    .todo-day
        .todo-day-num 3
    .todo-day
        .todo-day-num 4
    .todo-day
        .todo-day-num 5
    .todo-day
        .todo-day-num 6
    .todo-day
        .todo-day-num 7
