// --------- day

.todo-day {
    border: 1px solid $day-border-c;
    flex: 1 100%;
    min-height: 100px;
    margin-right:-1px;
    margin-bottom:-1px;
    margin-left: auto;
    margin-top: auto;
    padding: 5px 8px;
    z-index: 1;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: darken($day-hover-bg, 0.5);
    }

    &:last-child {
        margin-right: 0;
    }
}

.todo-day-num {
    display: inline;
    font-size: $day-title-fs;
}

.todo-day-weekend {
    background-color: $day-weekend-bg;

    &:hover {
        background-color: darken($day-hover-bg, 1);
    }
}

.todo-day-active {
    background-color: rgba($day-active-c, 0.25);

    &:hover {
        background-color: rgba($day-active-c, 0.4);
    }


}

.todo-day-today {
    background-color: rgba($day-today-c, 0.25) !important;
    border: 2px solid $day-today-c;
    margin: -1px -2px -2px -1px;
    z-index: 2;

    &:hover {
        background-color: rgba($day-today-c, 0.5) !important;
    }

    &:last-child {
        margin-right: -2px;
    }

    &:first-child {
        margin-left: -1px;
    }
}

.todo-day-selected {
    background-color: rgba($day-selected-c, 0.25) !important;
    border: 2px solid $day-selected-c;
    margin: -1px -2px -2px -1px;
    z-index: 3;

    &:last-child {
        margin-right: -2px;
    }

    &:first-child {
        margin-left: -1px;
    }
}
