$header-c: #f4f4f4;
$header-shadow-c: #cecece;
$header-shadow-h: 5px;

$buttons-color: #0271c7;

$container-p: 20px 40px;

$day-border-c: rgba(#d9d9d9, 0.5);
$day-weekend-bg: #f6f6f6;

$day-selected-c: #86c9fd;
$day-today-c: #fde586;

$day-title-fs: 10px;

//breakpoints

$br-title-wrap: 1050px;
