// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-color: #ccc;
}

#page {
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    max-width: 800px;
}

// Import Globals
@import "./valiables";
@import "./globals";

// Import Modules
@import '../_modules/Application/Application';
@import '../_modules/Actions/Actions';
@import "../_modules/CalendarGrid/CalendarGrid";
@import "../_modules/CalendarGrid/Day/Day";
@import "../_modules/CalendarGrid/Item/Item";
@import "../_modules/DateSelector/DateSelector";
@import "../_modules/Filter/Filter";
@import "../_modules/ItemAddForm/ItemAddForm";
@import "../_modules/QuickAddForm/QuickAddForm";
@import "../_modules/Filter/Result/Result";

@import "./commonFixes";
