// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-color: #ccc;
}

#page {
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    max-width: 800px;
}

// Import Globals
@import "./valiables";

// Import Modules
@import '../_modules/Application/Application';
