// ---------- add form

%form-input-base {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 9px;
    box-shadow: inset 0 1px 5px #999;
    border-radius: 3px;
    border: none;
}

.todo-form-add {
    position: absolute;
    background-color: #fff;
    width: 300px;
    padding: $container-p;
    left: 100%;
    margin-left: 15px;
    top: -20px;
    box-shadow: 0 0 10px #999;
    cursor: initial;

    & input,
    & textarea {

    }
}

.todo-form-add-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 5px;
    height: 5px;
    cursor: pointer;
    background: url(../images/close.svg) 0 0 no-repeat;
    background-size: cover;
}

.todo-form-add-input-title {
    @extend %form-input-base;
    font-size: 14px;
}

.todo-form-add-input-date,
.todo-form-add-input-people {
    @extend %form-input-base;
    font-size: 12px;
}

.todo-form-add-input-description {
    @extend %form-input-base;
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 100px;
    resize:none;
}

%form-buttons-base {
    margin-right:10px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 11px;
    background: linear-gradient(to bottom, rgba($form-add-button-c, 0), rgba($form-add-button-c, 0), rgba($form-add-button-c, 1), rgba($form-add-button-c, 1));
    padding: 3px 7px;
}

.todo-form-add-button-submit {
    @extend %form-buttons-base;
    &:hover {
        background: rgba( $c_success, 0.2);
    }
}

.todo-form-add-button-delete {
    @extend %form-buttons-base;
    &:hover {
        background: rgba( $c_warning, 0.2);
    }
}
