.todo-form-add-close
input.todo-form-add-input-title(placeholder="Событие", value=getTitle(), required)
.todo-form-add-input-date= currentDate()
input.todo-form-add-input-people(placeholder="Имена участников", value=peoples())
textarea.todo-form-add-input-description(placeholder="Описание")
    = getDescription()
button.todo-form-add-button-submit Готово
button.todo-form-add-button-delete Удалить
