.todo-form-add-close
input.todo-form-add-input-title(placeholder="Событие")
input.todo-form-add-input-date(placeholder="День, месяц, год")
input.todo-form-add-input-people(placeholder="Имена участников")
textarea.todo-form-add-input-description(placeholder="Описание")
button.todo-form-add-button-submit Готово
button.todo-form-add-button-delete Удалить
