.todo-form-add-close
input.todo-form-add-input-title(placeholder="Событие", value=title)
.todo-form-add-input-date= date.getDate() + ' ' + date.toLocaleString('ru-ru', {month: 'long'})
input.todo-form-add-input-people(placeholder="Имена участников", value=people.join(', '))
textarea.todo-form-add-input-description(placeholder="Описание")
    = description
button.todo-form-add-button-submit Готово
button.todo-form-add-button-delete Удалить
