.todo-header
    div Header
    .actions Buttons
        .todo-actions-form actions form
    .filter form

.todo-calendar
    div Calendar
    .todo-calendar-header header
    .todo-calendar-content content
