.todo-header
    .todo-header-title Todo calendar
    .todo-header-body
        .todo-header-buttons
            button.todo-header-buttons-add Добавить
            button.todo-header-buttons-update Обновить
        .todo-filter
            input.todo-filter-input(placeholder="Событие, дата, участник", pattern=".*\\S.*", required)
            .todo-filter-clear

.todo-calendar
    .todo-date
        .todo-date-prev
        .todo-date-date Март 2016
        .todo-date-next
        .todo-date-today сегодня
    .todo-calendar-content
        .todo-calendar-week
            .todo-day.todo-day-selected
                .todo-day-num 1
            .todo-day
                .todo-day-num 2
            .todo-day
                .todo-day-num 3
            .todo-day
                .todo-day-num 4
            .todo-day
                .todo-day-num 5
            .todo-day
                .todo-day-num 6
            .todo-day.todo-day-today
                .todo-day-num 7
        .todo-calendar-week
            .todo-day
                .todo-day-num 1
            .todo-day
                .todo-day-num 2
            .todo-day.todo-day-active
                .todo-day-num 3
                .todo-item
                    .todo-item-title Митинг на Красной
                    .todo-item-with
                        span dkchv
                        span Петр Иваныч
            .todo-day
                .todo-day-num 4
            .todo-day
                .todo-day-num 5
            .todo-day
                .todo-day-num 6
            .todo-day.todo-day-today
                .todo-day-num 7
        .todo-calendar-week
            .todo-day
                .todo-day-num 1
            .todo-day
                .todo-day-num 2
            .todo-day
                .todo-day-num 3
            .todo-day
                .todo-day-num 4
            .todo-day.todo-day-selected
                .todo-day-num 5
            .todo-day
                .todo-day-num 6
            .todo-day
                .todo-day-num 7
        .todo-calendar-week
            .todo-day
                .todo-day-num 1
            .todo-day
                .todo-day-num 2
            .todo-day
                .todo-day-num 3
            .todo-day
                .todo-day-num 4
            .todo-day
                .todo-day-num 5
            .todo-day
                .todo-day-num 6
            .todo-day
                .todo-day-num 7
