.todo-header
    .todo-header-title Todo calendar
    .todo-header-body
        .todo-header-buttons
            button Добавить
            button Обновить
        .todo-header-filter
            input.todo-header-filter-input(placeholder="Событие, дата, участник")

.todo-calendar
    .todo-calendar-actions Actions
    .todo-calendar-content content
